<h3>Bonjour Julien</h3>
<h4>Vous avez un nouveau message de {{ name }} ({{ email }})</h4>

Sujet : {{ subject }}
<br>
Contenu du Message : <p>{{ message }}</p>

{# Makes an absolute URL to the /images/logo.png file #}
<img src="http://swr-records.net/images/swr-records.png')) }}">